:root {
  --dark-grey: #000000;
  --light-grey: #393e46;
  --cyan: #00adb5;
  --silver: #eeeeee;
  --light-red: #ff6b6b;
  --egg-blue: hsl(176, 56%, 55%);
  --dark-blue: #4322ff;
  --dark-blue-active: #060668;
  --dark-blue-hover: #090e9c;
  --cerulean: #80847a;
  --cerulean-hover: #91958a;
  --cerulean-active: #6c7067;
  --gradient: linear-gradient(301deg, #2a1794 0%, #341bc2 30%, #4322ff 62%, #5d41ff 100%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "ITC_ Korinna";
}

body {
  background-color: var(--dark-grey);
  color: var(--silver);
}

#Title {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 3.5vw;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

#Score {
  font-size: 3vw;
  padding: 1%;
}

#inputForm {
  text-align: center;
  align-items: center;
  width: 80%;
  font-size: 2.5em;
  padding: 2%;
}

.submitButton {
  background-color: rgb(0, 0, 255);
  border: none;
  cursor: pointer;
  font-size: 2em;
  color: white;
  padding: 3%;
  margin-top: 2%;
  border-radius: 10px;
  transition-property: filter, transform;
  transition-duration: 250ms;
}

.submitButton:hover {
  filter: brightness(150%);
  transform: scale(1.1);
}

.primary-buttons {
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
}

.slider-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}

.column-setter {
  font-size: 2em;
  max-width: 5%;
  background-color: #000000;
  color: white;
  text-align: center;
  margin-right: 2%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 0.5;
}

.primary-button {
  background-color: #3b3bbd;
  border: none;
  font-size: 2vw;
  color: white;
  text-shadow: 1px 1px 2px black;
  padding: 1%;
  border-radius: 10%;
  transition-property: filter, transform;
  transition-duration: 250ms;
}

.primary-button:active {
  filter: brightness(80%);
}

#answer-buttons {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(6, 1fr);
  padding: 2%;
  gap: 2px;
}

.answer-button {
  flex: 100%;
  background-color: var(--dark-blue);
  background-image: var(--gradient);
  background-size: 300%;
  background-position: right;
  font-weight: bold;
  height: max-content;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px black;
  color: rgb(229, 255, 0);
  padding: 0.5rem;
  border-radius: 1%;
  position: relative;
  transition: transform 250ms ease-in, font-size 250ms, background-position 500ms, opacity 350ms ease-out,
    filter 350ms ease;
}

.category-button {
  flex: 100%;
  background-color: var(--dark-blue);
  background-image: var(--gradient);
  background-size: 300%;
  background-position: right;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: 2.5vw;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 5.5%;
  border-radius: 2%;
  margin-bottom: 2%;
  position: relative;
  transition: transform 250ms ease-in, font-size 250ms, background-position 500ms, opacity 350ms ease-out,
    filter 350ms ease;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  top: 15vw;
  background-color: #000000;
  margin: 15% auto;
  align-items: end;
  padding: 20px;
  border-radius: 4px;
  width: 33%;
  color: #ffffff;
}

.answer-content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
}

.check-button {
  cursor: pointer;
  background-color: #0da032;
  border: none;
  font-size: 2em;
  color: white;
  border-radius: 50%;
  aspect-ratio: 1;
  max-height: 45px;
  padding-top: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.wrong-button {
  cursor: pointer;
  background-color: #1b1b1b;
  border: none;
  font-size: 2em;
  color: white;
  border-radius: 50%;
  aspect-ratio: 1;
  max-height: 45px;
  padding-top: 5px;
  grid-column-start: 3;
  grid-column-end: 5;
}

.no-answer-button {
  background-color: var(--dark-blue);
  background-image: var(--gradient);
  background-size: 300%;
  background-position: right;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px black;
  color: rgb(255, 255, 255);
  padding-top: 2%;
  border-radius: 5%;
  grid-column-start: 5;
  grid-column-end: 9;
}

.double-button {
  background-color: var(--dark-blue);
  background-image: var(--gradient);
  background-size: 300%;
  filter: brightness(50%);
  filter: grayscale(50%);
  background-position: right;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px black;
  color: rgb(139, 139, 139);
  padding-top: 2%;
  border-radius: 5%;
  grid-column-start: 2;
  grid-column-end: 8;
}

.double-clicked {
  background-color: var(--dark-blue);
  background-image: var(--gradient);
  background-size: 300%;
  filter: brightness(150%);
  background-position: right;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px black;
  color: rgb(255, 255, 255);
  padding-top: 2%;
  border-radius: 5%;
  grid-column-start: 2;
  grid-column-end: 8;
}

.sound-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  z-index: 1;
  transition: opacity 250ms ease-out;
}

img {
  pointer-events: none;
}

.main-container {
  display: flex;
  flex-flow: column;
  height: 500px;
}

.main-container .menu-container {
  flex: 0 0 auto;
  padding-bottom: 2%;
}

.button-container {
  flex: 1 1 auto;
  width: 100%;
  height: 75%;
}

.but .button-container::-webkit-scrollbar {
  width: 13px;
}

.button-container::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.button-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}

.button-container:hover::-webkit-scrollbar-thumb {
  background-color: #5b5475 !important;
  transition-property: background-color;
  transition-duration: 500ms;
}

.button-container::-webkit-scrollbar-track {
  background-color: rgba(108, 108, 108, 0);
}
